<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>

<connectionStrings>
        <add name="UCS_Starter.Properties.Settings.UCSConn" connectionString="Data Source=DIYA-LAP-PC\SQLEXPRESS;Initial Catalog=UCS;Persist Security Info=True;User ID=ucs_user;Password=Darshi@123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>

  <appSettings>
    <add key="Port" value="COM40" />
    <add key="Port2" value="COM40" />
    <add key="username" value="ucs_user" />
    <add key="password" value="Darshi@123" />
    <add key="serverurl" value="DIYA-LAP-PC\SQLEXPRESS" />
    <add key="database" value="UCS" />
    <add key="timeout" value="30" />
    <add key="language" value="Sinhala" />
    <add key="language_file" value="C:\Users\Administrator\Documents\Visual Studio 2008\Projects\UCS\UCS\language.xml" />
    <add key="data_folder" value="C:\Users\Administrator\Documents\Visual Studio 2008\Projects\UCS\UCS\data" />
    <add key="printer" value="Print Dialog" />
    <add key="conn" value="Data Source=DIYA-LAP-PC\SQLEXPRESS;Initial Catalog=UCS;Persist Security Info=True;User ID=ucs_user;Password=Darshi@123" />
  </appSettings>
</configuration>